/* src/components/scanner/BarcodeScanner.module.css */
.scannerContainer {
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 2px solid #e5e7eb;
    position: relative;
}

/* This targets the div created by the html5-qrcode library */
.scannerContainer>div {
    border: none !important;
}