/* src/components/layout/Header.module.css */
.header {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    position: sticky;
    top: 0;
    z-index: 40;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    /* 16px */
    height: 4rem;
    /* 64px */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    color: #4f46e5;
    text-decoration: none;
}

.profileLink {
    padding: 0.5rem;
    /* 8px */
    border-radius: 9999px;
    /* full */
    transition: background-color 0.2s;
    color: #4b5563;
    /* gray-600 */
}

.profileLink:hover {
    background-color: #f3f4f6;
    /* gray-100 */
}