/* src/components/layout/MainLayout.module.css */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9fafb;
    /* gray-50 */
}

.mainContent {
    flex-grow: 1;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem 6rem 1rem;
    /* Top, sides, bottom */
}