/* src/components/ui/Card.module.css */
.card {
    border-radius: 0.5rem;
    /* 8px */
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #111827;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.cardHeader {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    /* 24px */
}

.cardTitle {
    font-size: 1.25rem;
    /* 20px */
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 1;
}

.cardContent {
    padding: 1.5rem;
    padding-top: 0;
}